@page
@model IndexModel
@inject MyDbContext DbContext
@using Asp.net_recepy_blog.Pages.Services;
@using Asp.net_recepy_blog.Pages.Dbcontrol;
@{
    ViewData["Title"] = "Рецепты";
}
<div class="container">
@*     <form class="d-inline-flex my-2 my-lg-0 w-100" onsubmit="event.stopPropagation(); searchPosts(event);">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0 m-3" type="submit">Search</button>
    </form> *@
    <div class="pt-4 d-flex justify-content-center">
        @if (HttpContext.Session.GetString("UserId") != null)
        {
            <button onclick="toggleSettingsVisibility()" class="btn btn-outline-secondary mt-2 mb-3">Добавить новый рецепт</button>
            <div id="Addpost" style="display: none !important;" class="addpost p-4 w-25">
                <form method="post">
                    <input type="hidden" asp-for="newPost.UserId" value="@HttpContext.Session.GetString("UserId")" />
                    <div class="form-group pt-3">
                        <label asp-for="newPost.Name">Название</label>
                        <input asp-for="newPost.Name" class="form-control w-100" />
                    </div>
                    <div class="form-group pt-3 pb-3">
                        <label asp-for="newPost.PhotoPath">Фото</label>
                        <input asp-for="newPost.PhotoPath" class="form-control-file" type="file" accept="image/*" />
                    </div>
                    <div class="form-group pt-3 pb-3">
                        <label asp-for="newPost.Ingredients">Ингридиенты</label>
                        <textarea asp-for="newPost.Ingredients" class="form-control w-100" rows="4" style="resize: vertical;"></textarea>
                    </div>
                    <div class="form-group pt-3 pb-3">
                        <label asp-for="newPost.CookingMethod">Способ приготовления</label>
                        <textarea asp-for="newPost.CookingMethod" class="form-control w-100" rows="4" style="resize: vertical;"></textarea>
                    </div>
                    <button type="submit" class="btn btn-secondary">Добавить пост</button>
                </form>
            </div>
        }
    </div>

    <div class="pt-4">
        <div class="row gap-4 d-flex justify-content-center align-items-center">
            @foreach (var post in DbContext.Posts)
            {
                <div class="card col col-md-3 col-sm-12 mb-3" onclick="toggleRecipe('@post.PostId')">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <h2 class="card-title">@post.Name</h2>
                            <img src="@("/imgs/" + post.PhotoPath)" class="img-fluid mb-4" alt="@post.Name" />
                        </div>
                        <div class="d-none recipe-content" data-id="@post.PostId">
                            <h5 class="mt-2">Ингридиенты:</h5>
                            <p class="mt-1">@post.Ingredients</p>
                            <h5 class="mt-2">Способ приготовления:</h5>
                            <p class="mt-1">@post.CookingMethod</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>



</div>

@section Scripts {
    <script>
        function toggleSettingsVisibility() {
            var tasksContainer = document.getElementById('Addpost');
            var button = document.querySelector('.btn.btn-outline-secondary');

            if (tasksContainer.style.display === 'none') {
                tasksContainer.style.display = 'block';
                button.textContent = "Скрыть";
            } else {
                tasksContainer.style.display = 'none';
                button.textContent = "Добавить новый рецепт";
            }
        }


        let openRecipes = new Set();

        function toggleRecipe(PostId) {
            var recipes = document.querySelectorAll('.recipe-content');
            recipes.forEach(function (recipe) {
                if (recipe.getAttribute('data-id') === PostId) {
                    if (!openRecipes.has(recipe)) {
                        openRecipes.add(recipe); 
                        recipe.classList.remove('d-none');
                    } else {
                        openRecipes.delete(recipe); 
                        recipe.classList.add('d-none');
                    }
                } else {
                    if (openRecipes.has(recipe)) {
                        openRecipes.delete(recipe); 
                        recipe.classList.add('d-none');
                    }
                }
            });
        }
    </script>
}
